/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.header, .footer {
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 1em;
    font-family: "Zen Dots", sans-serif;
    box-sizing: border-box;
}

.footer {
    justify-content: center;
}

.header a:hover, .footer a:hover {
    color: rgb(0, 127, 255);
    transition: 0.1s;
}

.header a, .footer a {
    color: white;
    text-decoration: none;
}

/* Optional: images in the header */
.header img {
    padding-left: 15px;
    gap: 10px;
}