.header, .footer {
    position: fixed;
    height: 7%;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;

    /* Flexbox, so the text is centered horizontally & vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    top: 0;
}

.footer {
    bottom: 0;
}

.body {
    padding-top: 3%;
}